@using SmartClinic.Models
@model SmartClinic.Models.AppUser
@{
    ViewData["Title"] = "Edit Profile";
}

<h2>Edit Profile</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Upload Profile Image</label>
        <input asp-for="imageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
